@model (List<ClientAgretTarget.ViewModel.AgentVM> ,List<ClientAgretTarget.ViewModel.TargetVM>)
<table border="1">
    @foreach (int x in Enumerable.Range(1, 100))
    {
        <tr>
            @foreach (int y in Enumerable.Range(1, 100))
            {
                <td>
                    @foreach (var agent in Model.Item1)
                    {
                        @if (agent.x == @x && agent.y == @y)
                        {
                            if (agent.StatusAgent == ClientAgretTarget.ViewModel.StatusAgent.IsActive)
                            {
                                <p class="alive">@agent.Id%</p>
                            }
                            if (agent.StatusAgent == ClientAgretTarget.ViewModel.StatusAgent.IsNnotActive)
                            {
                                <p style="color:cornflowerblue">@agent.Id%</p>
                            }
                        }
                    }
                </td>
                <td>
                    @foreach (var target in Model.Item2)
                    {
                        @if (target.x == @x && target.y == @y)
                        {
                            @if (target.StatusTarget == ClientAgretTarget.ViewModel.StatusTarget.Live)
                            {
                                <p class="alive">@target.Id#</p>
                            }
                            @if (target.StatusTarget == ClientAgretTarget.ViewModel.StatusTarget.Dead)
                            {
                                <p class="elimnate">@target.Id#</p>
                            }
                        }
                    }
                </td>
            }
        </tr>
    }
</table>